<footer class="footer bg-dark mt-auto p-1">
  <div class="container d-flex flex-row text-white justify-content-between">
    <p>Camp &copy;</p>
    <p>
      Made with <i class="fas fa-heart" style="color: palevioletred"></i> by
      Rajeev Rajput
    </p>
  </div>
</footer>
