* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prop {
  max-height: 400px;
  overflow-y: auto;
}

.card:hover {
  transition: box-shadow 100ms linear;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.ani {
  animation: slide-in-left 500ms;
  margin-bottom: 30px;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.pii {
  border: 2px solid rgba(61, 59, 59, 0.082);
  padding-top: 10px;
  animation: slide-in-right 500ms;
  border-radius: 10%;
  margin-left: 100px;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 768px) {
  .panel {
    display: flex;
    flex-direction: column;
  }
}
