* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prop {
  max-height: 400px;
  overflow-y: auto;
}

.card:hover {
  transition: box-shadow 100ms linear;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.ani {
  animation: slide-in 500ms;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
