<% layout('campgrounds/boilerplate') %>
<h1><%= data.title %></h1>
<h3>location: <%= data.description %></h3>

<a href="/campgrounds"> All campgrounds</a>
<a href="/campgrounds/<%= data._id %>/edit"> Edit fields</a>
<form action="/campgrounds/<%= data._id %>?_method=DELETE" method="post">
  <button type="submit">DELETE</button>
</form>
