<% layout('campgrounds/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <h1 class="text-center">New Campground</h1>
    <form action="/campgrounds" method="post">
      <div class="mb-3">
        <label class="form-label" for="title"> Title :</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="title"
          placeholder="Title"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price"> price: </label>
        <input
          class="form-control"
          type="number"
          name="price"
          id="price"
          placeholder="price"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image"> Image URL:</label>
        <input
          class="form-control"
          type="text"
          name="image"
          id="image"
          placeholder="Image URL"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="desc"> Description</label>
        <textarea
          class="form-control"
          type="text"
          name="description"
          id="desc"
          placeholder="Description"
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location"> location:</label>
        <input
          class="form-control"
          type="text"
          name="location"
          id="location"
          placeholder="Location"
        />
      </div>
      <button class="btn btn-primary" class="mb-3" type="submit">
        click me
      </button>
    </form>
  </div>
</div>
