<% layout('campgrounds/boilerplate') %>
<ul>
  <% for( let camps of data ) { %>
  <li>
    <a href="/campgrounds/<%= camps._id %> ">
      <%=camps.title%> <%= camps.description %>
    </a>
  </li>
  <% } %>
</ul>
<div>
  <div><a href="/campgrounds/new"> Add new item</a></div>
</div>
